/* styles/Home.module.css */
.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .heading {
    color: #333;
  }
  
  .codeBlock {
    background-color: #9b9b9b; /* Contoh: warna latar belakang */
    color: #333;               /* Contoh: warna teks */
    font-family: 'Courier New', Courier, monospace; /* Font monospaced */
    padding: 10px;
    white-space: pre-wrap;       /* Pastikan teks mengikuti format pre */
    overflow-x: auto;            /* Scroll horizontal jika konten terlalu panjang */
  }