/* styles/Home.module.css */
.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .heading {
    color: #333;
  }
  
  .codeBlock {
    background-color: #e52424;
    padding: 15px;
  }
